# Django defaults
SECRET_KEY='====mY_sEcReT_kEy===='
DEBUG=True
BASE_URL=http://localhost:8000
ALLOWED_HOSTS=*

DATABASE_URL=postgres://admin_ph:asdf@localhost:5432/fully_featured

CELERY_BROKER_URL=redis://127.0.0.1:6379

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000

SENTRY_DSN=

STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_PAYMENT_LINK=
STRIPE_PAYMENT_LINK_BR=
STRIPE_ENDPOINT_SECRET=
GEOIP_PATH=

EMAIL_BACKEND="anymail.backends.brevo.EmailBackend"
DEFAULT_FROM_EMAIL=
SERVER_EMAIL=
BREVO_API_KEY=
FROM_EMAIL="No Reply <no-reply@petersoftwarehouse.com>"

PATH_FIREBASE_PUSH_NOTIFICATION_SERVICE_ACCOUNT_KEY=/home/ph/Projects/fully-featured-backend/secret_keys/pushnotifications-<code>.json

TASK__MAX_RETRIES=2
TASK__DEFAULT_RETRY_DELAY=60
